#Generated Subfolders
/Solution*
/Output
/Debug
/Release
/Doku/Doxygen/html
/Toolchain
/Cache
/Documents/Doxygen/config.txt
sdkconfig
CMakeLists.txt.user*
QtCreatorDeployment.txt

# Temporary download status file
*.progress

# Generated version files
#endif /*.rc
