#Generated Subfolders
/Solution*
/Output
/Debug
/Release
/Doku/Doxygen/html
/Toolchain
/Cache
/Documents/Doxygen/config.txt
/Tools/CcOSTools
sdkconfig
CMakeLists.txt.user*
QtCreatorDeployment.txt

# Temporary download status file
*.progress
*.tmp
.vscode

# Generated version files
#endif /*.rc
