#Generated Subfolders
/*Solution*
/*Packs*
build
/Output
/Debug
/Release
/Doku/Doxygen/html
/Toolchain
/Cache
/Documents/Doxygen/config.txt
/Tools/CcOSTools
sdkconfig
CMakeLists.txt.user*
QtCreatorDeployment.txt

# Generated version files
#endif /*.rc
