###############################################################################
# Common travis test-script for testing CcOS based Projects
###############################################################################

sudo: required
# Enable C++ support
language: cpp

# Compiler selection
compiler:
  - gcc
  - clang
  
# Setup travis vm
install:
  - sudo apt-get install libssl-dev
  - sudo apt-get install libx11-dev
  - sudo apt-get install mingw-w64

# No submodules, script will do it.
git:
  submodules: false

# Environment Variables
env: 
  # Print output on failed tests
  - CTEST_OUTPUT_ON_FAILURE=1

# Build steps
script:
  - git config --global http.sslVerify false
  - mkdir build
  - cd build
  - cmake ../
  - make -j $(nproc)
  - make test
  - sudo make install
  - cd ..
# Clean previous build
  - rm -rf build
  - rm -rf Output
  - cd Tools
  - sh Test-All.sh
  
